@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 游ゴシック体, sans-serif;
  font-size: 18px;
  color: #333;
}

#container {
  min-width: 720px;
}

#page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

#page-menu {
  list-style: none;
  display: flex;
}

#page-menu li {
  margin-right: 2rem;
}

#page-menu a {
  text-decoration: none;
  color: #333;
}

#about-container {
  background-color: #ffffcc;
}

#about-title,
#skill-title,
#contact-title {
  text-align: center;
}

#about-profile {
  display: flex;
  align-items: center;
}

#about-profile-img {
  width: 50%;
  text-align: center;
}

#about-profile-text {
  width: 50%;
}

#about-profile-text p {
  margin-top: 1rem;
}

#about-profile-text a {
  text-decoration: none;
  color: #9999ee;
}

#skill-container {
  background-color: white;
}

.skill-item {
  display: flex;
}

.skill-item-title {
  width: 20%;
  text-align: center;
  background-color: #ee9999;
  color: white;
}

.skill-item-level-small {
  width: 80%;
  background-color: #ffcccc;
  padding-left: 3rem;
}

#main-container section h2 {
  padding-top: 2rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-form input[type="text"],
#contact-form textarea {
  width: 70%;
  height: 3rem;
  font-size: 1rem;
  padding: 0.5rem;
}

#contact-form textarea {
  resize: none;
  height: 10rem;
}

#contact-form input[type="button"] {
  width: 70%;
  height: 3rem;
  background-color: #ffcccc;
  border: 1px solid #333;
}

#page-footer {
  margin-top: 5rem;
  background-color: #333;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  color: white;
}
